@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.cdnfonts.com/css/christmas-5');

body {
  background-color: #eee;
}

.navbar-nav > li > a {
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 20px;
  color: #ffffff;
}

.navbar-toggler {
  padding: 0.20rem 0.50rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid white;
}
.inscription{
    color: #fff;
  font-family: 'Christmas', sans-serif;
  margin-bottom: 4px;
  font-size: 35px;
  z-index: 12;
}
.inscription:hover{
    background: #000000;
  font-family: 'Christmas', sans-serif;
  
  font-size: 35px;
}
.nav-link {
  color: #fff !important;
}

.wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #ffffff;
  clip-path: polygon(60% 0, 100% 0, 100% 60%, 100% 100%, 80% 100%);
  transition: 1s all;
}

.navbar-brand {
  color: #fff;
  font-family: 'Mountains of Christmas';font-size: 27px;
  margin-bottom: 4px;
  font-size: 27px;
}

.navbar-red:hover .wrapper {
  clip-path: polygon(80% 0, 100% 0, 100% 50%, 100% 100%, 60% 100%);
}

.navbar-brand:hover {
  color: #000000;
}

.navbar-red {
  background-color: red;
  color: #fff;
}

.all-show {
  z-index: 10;
}
.nav-item:hover{
    color: #000000 !important;
}
.dropdown-menu {
  background: rgb(252, 0, 0);
  .dropdown-divider{
    background: rgb(255, 255, 255);
    color: white ;
}
}

.dropdown-item {
    background-color: rgb(255, 0, 0);
    &:hover {
      background-color: #000000;
    }
  }
.nav-item {
    list-style: none !important;
    }