
.hero-image-container {
    position: sticky; /* Important! Donne un contexte de positionnement pour les éléments positionnés absolument */
    top: 0;
    width: 100%;
    height: 100vh; // L'image occupe toute la hauteur de l'écran
    overflow: hidden;
    z-index: 0; // Ce niveau de z-index doit être à zéro car le bouton sera au-dessus

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%); // Dégradé de fond
        z-index: 1; // Le dégradé sera au-dessus de l'image
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover; // Redimensionner l'image pour qu'elle couvre entièrement le conteneur
    }

    /* Bouton */
    .btn {
        z-index: 10; // Définit un z-index élevé pour que le bouton soit au-dessus de tous les autres éléments
        position: absolute;
        top: 50%; /* Centrer le bouton verticalement */
        left: 50%; /* Centrer le bouton horizontalement */
        transform: translate(-50%, -50%); /* Nécessaire pour centrer précisément le bouton */
        padding: 10px 20px;
        font-size: 20px;
        background-color: #007bff; /* Couleur de fond du bouton */
        color: white; /* Couleur du texte sur le bouton */
        border: none; /* Pas de bordure */
        border-radius: 5px; /* Coins arrondis */
        transition: background-color 0.3s ease; /* Effet de transition lors du survol du bouton */

        /* Effet au survol */
        &:hover {
            background-color: #0056b3; /* Couleur du bouton lorsqu'on passe la souris dessus */
        }
    }
}

.content-overlay {
    position: relative;
    z-index: 1;
    background: white;
    color: black;
    padding: 50px;

    h1, p {
        margin: 20px auto;
        text-align: center;
        line-height: 1.6;
    }
}


   
.card-main{
    position: relative;
    z-index: 1;
    background: rgb(43, 42, 42);
    color: black;
    padding: 50px;
    .card {
        position: relative;
        width: calc(33.333% - 30px);
        background: #fff;
        overflow: hidden;
        float: left;
        margin: 15px;
        padding-left:0px !important;
        padding-right: 0px !important;
        &__content {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #000;
            top: calc(100% - 80px);
            left: 0;
            opacity: 1;
            transition: all 0.75s ease-in-out;
    
            display: flex;
            align-items: top;
            justify-content: center;
    
            &-inner {
                position: relative;
                display: block;
                height: 80px;
    
                display: flex;
                flex-flow: column nowrap;
                text-align: center;
                justify-content: center;
    
                transition: all 0.75s ease-in-out;
            }
            &:after {
                position: absolute;
                top: 10px;
                
                width: 30px;
                height: 30px;
                
                content: "";
            }
        }
        &__title {
            font-weight: 600;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 1px;
        }
        &__description {
            color: #eee;
        }
        &:after {
            position: absolute;
            bottom: 10px;
            
            
            height: 30px;
            
            content: "";
        }
        &.a100,
        &:hover {
            cursor: pointer;
            .card__content {
                top: 0;
                background: #000;
                transition: all 1s ease-in-out;
                &-inner{
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    transition: all 1s ease-in-out;
                }
            }
        } // demo
        &.a50{
            .card__content {
                top: 50%;
                &-inner{
                    height: 50%;}
            }
            &:hover {
                .card__content {
                    top: 0;
                    &-inner{
                        height: 100%;}
                }
            }
        }
        &.a100{
            &:hover {
                .card__content {
                    top: calc(100% - 80px);
                    &-inner{
                        height: 80px;}
                }
            }
        }
    }
}

// Styles Responsive
@media (max-width: 992px) {
    .hero-image-container {
        height: 50vh; // Réduire la taille de l'image sur les écrans plus petits
    }
}
