body {
    background: #ff00009f;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.hero-image-container {
    position: sticky; /* Important! Donne un contexte de positionnement pour les éléments positionnés absolument */
    top: 0;
    width: 100%;
    height: 50vh; // L'image occupe toute la hauteur de l'écran
    overflow: hidden;
    z-index: 0; // Ce niveau de z-index doit être à zéro car le bouton sera au-dessus

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.5) 100%
        ); // Dégradé de fond
        z-index: 1; // Le dégradé sera au-dessus de l'image
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover; // Redimensionner l'image pour qu'elle couvre entièrement le conteneur
    }

    /* Bouton */
    .btn {
        z-index: 10; // Définit un z-index élevé pour que le bouton soit au-dessus de tous les autres éléments
        position: absolute;
        top: 50%; /* Centrer le bouton verticalement */
        left: 50%; /* Centrer le bouton horizontalement */
        transform: translate(
            -50%,
            -50%
        ); /* Nécessaire pour centrer précisément le bouton */
        padding: 10px 20px;
        font-size: 25px;
        background-color: #ff0000; /* Couleur de fond du bouton */
        color: white; /* Couleur du texte sur le bouton */
        border: none; /* Pas de bordure */
        border-radius: 15px; /* Coins arrondis */
        transition: background-color 0.3s ease; /* Effet de transition lors du survol du bouton */
        
        /* Effet au survol */
        &:hover {
            background-color: #b90c0c;
            font-size: 30px; /* Couleur du bouton lorsqu'on passe la souris dessus */
            transition:all 0.5s ease 0s;
        }
    }
    @media (max-width: 760px){
        .btn {
            position: absolute; 
            top: auto; 
            left: auto; 
            transform: none; 
            display: inline-block;; 
            margin: 20px auto; 
            font-size: 18px; 
            padding: 10px 15px; 

            left: 45%;
        }
    }
    @media (max-width: 760px) {
        position: static; 
        height: 50vh; 
        
        &::after {
            background: none; 
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover; 
        }

        
    }
}

.content-overlay {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; // Ensure the parent has a height to center within
    --s: 75px; /* control the size */
  
    --_c:#0000,#fff 1deg 79deg,#0000 81deg;
    --g0:conic-gradient(from 140deg at 50% 87.5% ,var(--_c));
    --g1:conic-gradient(from 140deg at 50% 81.25%,var(--_c));
    --g2:conic-gradient(from 140deg at 50% 75%   ,var(--_c));
    --g3:conic-gradient(at 10% 20%,#0000 75%,#fff 0);
    background:
      var(--g0) 0 calc(var(--s)/-4),var(--g0) var(--s) calc(3*var(--s)/4),
      var(--g1) ,var(--g1) var(--s) var(--s),
      var(--g2) 0 calc(var(--s)/ 4),var(--g2) var(--s) calc(5*var(--s)/4),
      var(--g3) calc( var(--s)/-10) var(--s),
      var(--g3) calc(9*var(--s)/10) calc(2*var(--s)),
      repeating-conic-gradient(from 45deg,#a31e39 0 25%,#31570e 0 50%);
    background-size: calc(2*var(--s)) calc(2*var(--s));
    .blokken{
            position: relative;
            background-color: #fff;
            width: calc(100vw - 10rem);
            min-height: calc(100vh - 10rem);
            box-shadow: -0.5rem 0.5rem 1rem rgba(0,0,0,0.3);
            padding: 5rem;
            font-size: 2rem;
            background-image: linear-gradient(to bottom, #fff calc(1em - 1px), #ccc calc(1em - 1px), #ccc 1em, #fff 1em);
            background-position: 0% 1em;
            background-size: 100% 1em;
            background-repeat: repeat-y;
            
            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                box-shadow: -0.5rem 0.5rem 1rem rgba(0,0,0,0.1);
            }
            
            &:before {
                transform: rotate(-2deg);
                z-index: -1;
            }
            
            &:after {
                transform: rotate(2deg);
                z-index: -2;
            }
        }
        .welcome-title {
            font-size: 2.5rem;
            color: #000000; 
            font-family: "Allerta Stencil", sans-serif;
            margin-bottom: 20px;
            text-align: center;
        }
        .welcome-text {
            font-size: 1.2rem;
            line-height: 1.8;
            margin-bottom: 15px;
            color: #000000;
            text-align: center;
        }
        .final-message{
            font-weight: bold;
            color: #4caf50;
            text-align: center;
        }
        @media (max-width: 712px) {
            .blokken {
                max-width: none; 
                width: 100%;     
                margin: 0;       
                padding: 0 15px; 
            }
        }
    }


.card-main {
    position: relative;
    z-index: 1;
    --s: 75px; /* control the size */
  
    --_c:#0000,#fff 1deg 79deg,#0000 81deg;
    --g0:conic-gradient(from 140deg at 50% 87.5% ,var(--_c));
    --g1:conic-gradient(from 140deg at 50% 81.25%,var(--_c));
    --g2:conic-gradient(from 140deg at 50% 75%   ,var(--_c));
    --g3:conic-gradient(at 10% 20%,#0000 75%,#fff 0);
    background:
      var(--g0) 0 calc(var(--s)/-4),var(--g0) var(--s) calc(3*var(--s)/4),
      var(--g1) ,var(--g1) var(--s) var(--s),
      var(--g2) 0 calc(var(--s)/ 4),var(--g2) var(--s) calc(5*var(--s)/4),
      var(--g3) calc( var(--s)/-10) var(--s),
      var(--g3) calc(9*var(--s)/10) calc(2*var(--s)),
      repeating-conic-gradient(from 45deg,#a31e39 0 25%,#31570e 0 50%);
    background-size: calc(2*var(--s)) calc(2*var(--s));
    color: black;
    padding: 50px;
    .card {
        position: relative;
        width: calc(33.333% - 30px);
        background: #fff;
        overflow: hidden;
        float: left;
        margin: 15px;
        padding-left: 0px !important;
        padding-right: 0px !important;
        &__content {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #819b64;
            top: calc(100% - 80px);
            left: 0;
            opacity: 1;
            transition: all 0.75s ease-in-out;

            display: flex;
            align-items: top;
            justify-content: center;

            &-inner {
                position: relative;
                display: block;
                height: 80px;

                display: flex;
                flex-flow: column nowrap;
                text-align: center;
                justify-content: center;

                transition: all 0.75s ease-in-out;
            }
            &:after {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 30px;
                right: 10px;
                height: 30px;
                border-color: #fff;
                border-style: solid;
                border-width: 2px 0 0 2px;
                content: "";
            }
        }
        &__title {
            font-weight: 600;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 1px;
        }
        &__description {
            color: #eee;
        }
        &:after {
            position: absolute;
            bottom: 10px;

            height: 30px;

            content: "";
        }
        &.a100,
        &:hover {
            cursor: pointer;
            .card__content {
                top: 0;
                background: #000;
                transition: all 1s ease-in-out;
                &-inner {
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    transition: all 1s ease-in-out;
                }
            }
        }
    }
    @media (max-width: 1200px) {
        .card {
            width: calc(50% - 30px); 
        }
    }

    @media (max-width: 768px) {
        .card {
            width: calc(100% - 30px);
            margin: 15px auto; 
        }
    }

    @media (max-width: 480px) {
        .card {
            width: calc(100% - 20px); 
            margin: 10px auto;
        }

        .card__content {
            top: calc(100% - 60px); 
        }

        .card__content-inner {
            height: 60px;
        }
    }
}

// Styles Responsive
@media (max-width: 992px) {
    .hero-image-container {
        height: 50vh; // Réduire la taille de l'image sur les écrans plus petits
    }
}
